{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4><i class="bi bi-truck"></i> {{ action }} Supplier</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        <label class="form-label">{{ form.name.label }} *</label>
                        {{ form.name(class="form-control") }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.contact_person.label }}</label>
                            {{ form.contact_person(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.email.label }}</label>
                            {{ form.email(class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.phone.label }}</label>
                            {{ form.phone(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.website.label }}</label>
                            {{ form.website(class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">{{ form.address.label }}</label>
                        {{ form.address(class="form-control", rows=3) }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">{{ form.credit_limit.label }}</label>
                            {{ form.credit_limit(class="form-control") }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">{{ form.rating.label }}</label>
                            {{ form.rating(class="form-select") }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label d-block">&nbsp;</label>
                            <div class="form-check form-switch">
                                {{ form.is_active(class="form-check-input") }}
                                <label class="form-check-label">{{ form.is_active.label }}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('suppliers') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Cancel
                        </a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
